@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
#root{
    font-family: 'Space Mono', monospace;
    text-align: center;
    margin: 0 auto;
}

body {
    background: url('https://64.media.tumblr.com/dbfb62a2f5f7c9c042b7e14144818774/tumblr_nndq8w3Leo1qcdtsho1_1280.jpg') ;
}